<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>

  <h1>Login</h1>

  <div th:insert="~{fragments/menu :: #nav-menu}"></div>

  <img th:src="@{images/TacoShop.jpg}">

  <p>New here? Click <a th:href="@{users/register}">here</a> to register.</p>

  <p th:if="${loginError}" class="error">Wrong user or password</p>

  <form th:action="@{/login}" method="post" id="loginForm">
    <table border="1">
      <tr>
        <td>Username:</td>
        <td><input type="text" name="username" id="username"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td> <input type="password" name="password" id="password"/></td>
      </tr>
    </table>
    <button type="submit">Log in</button>
  </form>

</body>
</html>