<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<h1>User profile</h1>
<form th:action="@{/users/profile}" th:object="${userReadDto}" method="post">
  <table border="1">
    <tr>
      <td>Name</td>
      <td><input type="text" th:field="*{username}"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" th:field="*{password}"></td>
    </tr>
    <tr>
      <td>Matching password</td>
      <td><input type="password" th:field="*{confirmPassword}"></td>
    </tr>
    <tr>
      <td>Fullname</td>
      <td><input type="text" th:field="*{fullname}"></td>
    </tr>
    <tr>
      <td>Street</td>
      <td><input type="text" th:field="*{street}"></td>
    </tr>
    <tr>
      <td>City</td>
      <td><input type="text" th:field="*{city}"></td>
    </tr>
    <tr>
      <td>State</td>
      <td><input type="text" th:field="*{state}"></td>
    </tr>
    <tr>
      <td>Zip</td>
      <td><input type="text" th:field="*{zip}"></td>
    </tr>
    <tr>
      <td>Phone Number</td>
      <td><input type="text" th:field="*{phoneNumber}"></td>
    </tr>
  </table>
  <button type="submit">Save</button>
</form>
</body>
</html>